@import "tailwindcss";

:root {
  --background: oklch(13% 0.028 261.692);
  --foreground: #fff;
  --btn-background: oklch(27.8% 0.033 256.848);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-questrial-sans);
  --font-mono: var(--font-rubik-mono);
  --font-size: 1.2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  font-size: var(--font-size);
}
h1, h2, h3, h4, h5, h6 {font-family: var(--font-sans);}


.logo{
  font-family: var(--font-mono);
  font-weight: 700;
}
.start-btn{
  @apply text-white px-6 py-3 rounded-4xl text-[18px] bg-gray-700 transition-all duration-300 hover:bg-gray-50 hover:text-gray-900
}
.start-btn.activeBtn{
  @apply bg-gray-50 text-gray-900
}
.nav{
  font-family: var(--font-sans);
}
.wrapper{
  @apply max-w-[1400px] mx-auto;
}
.banner{
  @apply w-full;
}
.heading{
  padding-bottom: 4rem;
  @apply text-5xl font-bold;
}
.heading.p-btm{
  padding-bottom: 2rem;
}
.imageBox img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}
.bgBlack{
  position: relative;
  overflow: hidden;
}
.bgBlack:before{
  content: '';
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.menu{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  @apply text-2xl font-bold text-amber-50 left-4 cursor-pointer;
}
.bgBox:after{
  content: '';
  background: #000000;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.85) 14%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}